*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #ebebeb;
  color: #444444;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.wrapper {
  max-width: 800px;
  padding: 15px 10px;
  display: block;
  margin: 0 auto;
  background: white;
}

strong {
  font-weight: 500;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 0 !important;
  margin-bottom: 15px;
}
